html, body {
  height: 100%;
  min-height: 100% !important;
}

#mapWrapper { 
    min-width: 1024px;
    width: 75%;
    height: 100%;
    min-height: 586px;
    margin-bottom: 0 !important;
    overflow: hidden;
    float: left;
    position: relative;
    /* border: 1px solid #aaa; */
}

#mapid {
  width: 100%;
  height: 100%;
}

#button-wrapper {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100%;
  z-index: 1000;
}

.mode {
  width: 77px;
  height: 31px;
  border-radius: 15.5px;
  background: #F5F5F5;
  border: 1px solid #707070;
  font-family: "Montserrat";	
}

#controlBox {
  width: 25%;
  min-width: 350;
  height: 100%;
  min-height: 586;
  border: 1px solid #b3b3b3;
  display: inline-block;
  position: absolute;
}

.controlBoxText {
  font-size: 15px;
  font-family: "Montserrat";	
  line-height: 19px;
  color: #000000;
}

#summaryHeader {
  line-height: 27px;
}

#attendeeID {
  margin-left: 22px;
}

#attendeeName {
  margin-left: 22px;
}

.nameText {
  font-size: 16px;
  font-family: "Montserrat";
  line-height: 23px;
  color: #000000;
  text-transform: capitalize;
}

.idText {
  font-size: 16px;
  font-family: "Montserrat";
  line-height: 23px;
  color: #000000;
}

.playContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 5px;
  width: 100%;
  background-color: #fff
}

.play{
  width: 80px;
  visibility: hidden;
  margin: 4px 22px;
}


.summaryPanel {
  padding: 4px 22px 16px;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
  font-family: "Montserrat";
  letter-spacing: -0.17px;
}

.search input {
  width: 90%;
  min-width: 304px;
  height: 40px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  font-family: "Montserrat";
  letter-spacing: -0.17px;
  border-radius: 5px;
  text-transform: capitalize;
}

.search input { text-indent: 32px;}
.search .fa-search { 
  position: absolute;
  top: 10px;
  left: 10px;
}

.search {
  margin-top: 17px;
  margin-left: 17px;
}

.recordsTable {
  margin: 10px;
  height: 60%;
  overflow: auto;
}

th, td {
  padding: 4px;
  text-align: left;
  font-size: 15px;
  border: 1px solid #707070;
}

th {
  font-family: "Montserrat";
  font-weight: 600;	
  color: #000000;
  position: sticky;
  top: 0;
  background-color:#ffffff;
  /* position: absolute; */
}


td {
  font-family: "Montserrat";
  color: #000000;
}

/* .bodyrow:hover {
  background: #D3D3D3 !important;
}

.pseudoHover {
  background: #D3D3D3;
} */

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
  max-height: 300px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  width: 302px;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
  text-transform: capitalize;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

/* Loader style */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f5b500;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}